.about-case {
  /* .about-case__container */
  &__container {
    display: grid;
    grid-template-columns: 1fr 49%;
    // gap: 60px;
  }
  /* .about-case__media */
  &__media {
  }
  /* .about-case__badge */
  &__badge {
  }
  /* .about-case__content */
  &__content {
  }
  /* .about-case__title */
  &__title {
  }
  /* .about-case__list */
  &__list {
  }
  /* .about-case__line */
  &__line {
  }
  /* .about-case__slogan */
  &__slogan {
  }
}


.list-about-case {
  position: relative;
  z-index: 30;

  /* .list-about__item */
  &__item {
    position: relative;
    @include adaptiveValue("padding-left", 78, 50);

    @include adaptiveValue("font-size", 22, 16);
    line-height: normal;
    letter-spacing: 1.1px;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 12);
    }

    @media (max-width:$mobile) {
      letter-spacing: 0.8px;
    }
  }

  &__box {
    position: absolute;
    left: 0;
    top: toRem(-8);
    display: flex;
    align-items: center;
    gap: toRem(6);
    @include adaptiveValue("gap", 6, 2);
  }

  /* .list-about__text */
  &__text {

    @include adaptiveValue("font-size", 22, 16);
    color: $colorGrey;
    line-height: normal;
    letter-spacing: 1.1px;

    @media (max-width:$mobile) {
      letter-spacing: 0.8px;
    }
  }
}