.catalog {

  @include adaptiveValue("padding-top", 105, 60);
  @include adaptiveValue("padding-bottom", 284, 169);

  background-color: #fff;

  /* .catalog__title */
  &__title {
    @include adaptiveValue("margin-bottom", 64, 51);
  }

  /* .catalog__header */
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(50);
    column-gap: toRem(66);
    row-gap: toRem(16);
    flex-wrap: wrap;
  }

  /* .catalog__label */
  &__label {
    font-size: toRem(16);
    color: #BCC0CC;
    font-weight: 900;
    line-height: normal;

    transition: all 0.3s ease-in 0s;

    &._tab-active {
      @include adaptiveValue("font-size", 20, 16);
      color: $colorOrange;
    }
  }

  /* .catalog__items */
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: toRem(20);

    @include adaptiveValue("margin-bottom", 57, 37);

    @media (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(680)) {
      grid-template-columns: auto;
    }
  }

  /* .catalog__item */
  &__item {}
}

.item-catalog {
  display: grid;
  justify-items: center;
  @include adaptiveValue("gap", 27, 15);
  max-width: toRem(453);
  max-height: toRem(519);
  @include adaptiveValue("padding-top", 60, 46);
  padding-bottom: toRem(42);

  border-radius: toRem(50);
  border: toRem(6) solid #F0F0F0;


  /* .item-catalog__image */
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("padding-right", 80, 40);
    @include adaptiveValue("padding-left", 80, 40);

    img {
      max-width: 100%;
      filter: drop-shadow(3px 9px 10px #000);
    }
  }

  /* .item-catalog__badge */
  &__badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("width", 77, 53);
    @include adaptiveValue("height", 77, 53);
    top: -18%;
    right: 5%;

    border-radius: 50%;
    background-color: $mainColor;

    font-size: toRem(16);
    color: #fff;
    line-height: normal;

    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }

  &__content {
    display: grid;
    gap: toRem(10);
    @include adaptiveValue("gap", 10, 4);
    text-align: center;
  }

  /* .item-catalog__name */
  &__name {
    font-size: toRem(16);
    font-weight: 400;
    line-height: normal;
  }

  /* .item-catalog__price */
  &__price {
    font-size: toRem(20);
    font-weight: 900;
    line-height: normal;
  }

  /* .item-catalog__button */
  &__button {}
}