.intro {
  position: relative;

  @include adaptiveValue("padding-top", 180, 157);
  @include adaptiveValue("padding-bottom", 1200, 100);

  &::before {
    content: '';
    position: absolute;
    background: url('@img/main-back.png');
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease 0s;

    .loaded & {
      opacity: 1;
    }
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width:$tablet) {
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__title {
    margin-bottom: toRem(37);
  }

  &__subtitle {
    @include adaptiveValue("margin-bottom", 54, 68);
  }

  &__buttons {
    position: relative;

    display: flex;
    @include adaptiveValue("gap", 32, 10);

    z-index: 20;

    @media (max-width:$tablet) {
      justify-content: center;
    }

    @media (max-width: em(680)) {
      flex-direction: column;
      column-gap: toRem(20);
      align-items: center;
    }
  }


  &__media {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: toRem(-160);
      filter: blur(50px);
      width: toRem(605);
      height: toRem(168);

      // border-radius: toRem(605);
      background: #000;

      @media (max-width: em(1387)) {
        bottom: toRem(-100);
      }

      @media (max-width:$tablet) {
        display: none;
      }
    }
  }

  &__main-image {
    position: absolute;

    // @include adaptiveValue("width", 1280, 578);
    @include adaptiveValue("width", 1280, 300);
    // max-width: 100%;
    right: toRem(-260);
    top: toRem(-61);

    z-index: 10;

    @media (max-width:$tablet) {
      top: toRem(30);

      // right: 50%;

      left: 50%;
      transform: translate(-50%, 0) !important;

      // width: 76%;
      // width: toRem(600);
    }
  }

  &__dec-image {
    position: absolute;
    right: 0;
    bottom: 0;

    &_1 {
      right: -821px;
      top: -16px;

      @include adaptiveValue("width", 843, 328);

      @media (max-width:$tablet) {
        right: auto;
        left: 68%;
      }
    }

    &_2 {
      right: -774px;
      top: toRem(250);
      z-index: 20;
      @include adaptiveValue("width", 778, 355);

      @media (max-width:$tablet) {
        top: toRem(120);
        right: -51%;
      }

      @media (max-width: em(600)) {
        top: toRem(60);
        right: auto;
        left: 80%;
      }
    }
  }

  &__mouse-down {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 50.4%;
    transform: translate(-50%, 170%);
    // bottom: 0;

    gap: toRem(130);

    @media (max-width: em(1180)) {
      display: none;
    }

    span {
      position: relative;
      display: inline-block;
      transform: rotate(90deg);

      font-size: toRem(16);
      line-height: normal;
      letter-spacing: 1.92px;
      color: #7E8085;

      &::before {
        content: '';
        position: absolute;

        background-color: #BCC0CC;
        width: toRem(27);
        height: toRem(1);
        right: toRem(-48);
        top: 50%;
      }
    }
  }

  &__mouse {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(128);
    height: toRem(128);
    background-color: #F0F0F0;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      width: toRem(80);
      height: toRem(80);

      background-color: #fff;
      border-radius: 50%;
      filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.07));
    }

    svg {
      z-index: 20;
    }
  }
}