.our-works__title {
  margin-bottom: toRem(100);
}


.our-works__image {
  max-width: 100%;
}

.our-works__slide {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  scale: .8;

  &.swiper-slide-active {
    transition: scale .6s;
    scale: 1;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    transition: opacity .6s;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // border-radius: 50px;
    opacity: 0;
    background: rgba(59, 67, 79, 0.80);
  }
}

// .our-works__slide {
//   &::before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     // border-radius: 50px;
//     opacity: 0;
//     background: rgba(59, 67, 79, 0.80);
//   }

//   .swiper-slide-active {
//     &::before {
//       opacity: 1;
//     }
//   }

// }



// .our-works__slide {
//   position: relative;

//   transition: all 0.6s;


//   .swiper-slide-active {
//     &::before {
//       opacity: 1;
//     }
//   }
// }

// .our-works__slide .swiper-slide-prev img,
// .our-works__slide .swiper-slide-next img {
//   scale: .8;
// }

// .our-works__image {
//   transition: all 0.6s;

//   .swiper-slide-prev &,
//   .swiper-slide-next & {
//     scale: .8;
//   }
// }

.swiper {
  // max-width: toRem(1920) !important;
  overflow: visible !important;
}