.our-works {
  @include adaptiveValue("padding-top", 105, 60);

  background-color: #fff;

  &__title {
    margin-bottom: toRem(100);
  }

  &__image {
    max-width: 100%;
  }

  &__box {
    position: relative;
    overflow: hidden;
    border-radius: toRem(50);
    // aspect-ratio: 1164 / 720;
    // width: 100%;
    // height: 100%;
    @include adaptiveValue("margin-bottom", 43, 21);

    scale: .8;

    .swiper-slide-active & {
      transition: scale .6s;
      scale: 1;

      &::before {
        opacity: 1;
      }
    }

    &::before {
      transition: opacity .6s;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(59, 67, 79, 0.80);
    }
  }


  &__text {
    text-align: center;
    opacity: 0;

    transition: opacity 0.3s;

    .swiper-slide-active & {
      opacity: 1;
    }
  }

  &__possition {
    @include adaptiveValue("margin-bottom", 23, 8);

    @include adaptiveValue("font-size", 26, 16);
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 900;
    }
  }

  &__time {
    @include adaptiveValue("font-size", 18, 12);
    font-weight: 400;
    color: $colorGrey;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.9px;

    span {
      color: $mainColor;
    }

    @media (max-width:$mobile) {
      letter-spacing: 0.6px;
    }
  }


}




.swiper {
  // max-width: toRem(1920) !important;
  overflow: visible !important;
}