// Прячем нативные кнопки RADIO
.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

// Бэкграунд радио кнопки
.wpcf7-radio input[type="radio"]+span:before {
  display: block;
  position: absolute;
  content: '';

  width: toRem(37);
  height: toRem(37);

  border-radius: toRem(12);
  left: 0;

  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  border: toRem(1) solid #BCC0CC;
}

// Галочка при нажатии на кнопку
.wpcf7-radio input[type=radio]:checked+span:before {
  height: toRem(38);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.19);
  background: url('@img/quize/check.svg') center center no-repeat;
  border-radius: toRem(12);
}

// Дефис между кнопкой и текстом
.wpcf7-list-item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-color: #BCC0CC;
    width: toRem(16);
    height: toRem(2);
    left: toRem(50);
    top: 50%;
  }
}

// Текст радио кнопки
.wpcf7-list-item-label {
  margin-left: toRem(57);

  font-size: toRem(22);
  color: $colorGrey;
  line-height: normal;
  letter-spacing: 1.1px;
}

.quiz {

  /* .quiz__container */
  &__container {}

  /* .quiz__title */
  &__title {
    @include adaptiveValue("margin-bottom", 56, 38);
  }
}

.quiz-form {
  background-color: #fff;
  border-radius: toRem(50);
  overflow: hidden;

  /* .quiz-form__fieldset */
  &__fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(20);
    align-items: center;
  }

  /* .quiz-form__media */
  &__media {
    position: relative;
    background: url('@img/quize/house-background.png') 0 0 no-repeat;
    background-position: 100%;
    background-size: cover;
    padding-top: toRem(200);
  }

  /* .quiz-form__background */
  &__background {
    // max-width: 100%;
    // transform: translate(0, 4.4%);

  }

  /* .quiz-form__image */
  &__image {
    // position: absolute;
    max-width: 100%;
    // object-fit: cover;
    // bottom: 0;

    // right: 0;
  }

  /* .quiz-form__content */
  &__content {}

  /* .quiz-form__title */
  &__title {
    @include adaptiveValue("margin-bottom", 64, 44);

    @include adaptiveValue("font-size", 26, 20);
    font-weight: 900;
    line-height: normal;
  }

  /* .quiz-form__options */
  &__options {
    display: grid;
    gap: toRem(25);
  }

  /* .quiz-form__progress-wrapper */
  &__progress-wrapper {
    display: flex;
    align-items: center;
    max-width: toRem(573);
    padding: toRem(20);
    @include adaptiveValue("gap", 35, 15);

    border-radius: toRem(50);
    box-shadow: $shadow;
  }

  /* .quiz-form__button */
  &__button {
    max-width: toRem(164);
  }

  /* .quiz-form__progress-box */
  &__progress-box {}
}

.wpcf7-form-control {}

.wpcf7-radio {}

.wpcf7-list-item {}

.wpcf7-list-item-label {}

.progress-box {
  @include adaptiveValue("width", 304, 247);

  /* .progress-box__text */
  &__text {
    margin-bottom: toRem(17);

    font-size: toRem(14);
    color: $colorGrey;
    line-height: normal;
  }

  /* .progress-box__bar */
  &__bar {
    margin-bottom: toRem(11);
    width: 100%;
    height: toRem(10);

    border-radius: toRem(6);
    background: #D9D9D9;
  }

  /* .progress-box__progress */
  &__progress {
    width: 25%;
    background-color: $colorOrange;
    height: 100%;
    border-radius: toRem(6);

  }

  // &__numbers {}

  /* .progress-box__value */
  &__values {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;

  }

  &__number {
    margin-right: 23.3%;

    font-size: toRem(14);
    font-weight: 900;
    line-height: normal;
    color: #BCC0CC;

    &._active {
      color: $colorOrange;
    }
  }
}