.section-map {
  position: relative;
  // background: url('@img/map/map.png') center top / cover no-repeat;
  // aspect-ratio: 2024 / 860;
  // height: 100%;

  // z-index: -1;

  /* .section-map__container */
  &__container {
    position: relative;
  }

  /* .section-map__map */
  &__map {}
}

// .map {

//   img {
//     max-width: 100%;
//   }
// }


.map {
  position: absolute;
  @include adaptiveValue("height", 860, 900);
  // height: 900px;
  width: 100%;
}