.stages {
  @include adaptiveValue("padding-top", 120, 92);
  // @include adaptiveValue("padding-bottom", 120, 92);
  padding-bottom: toRem(100);

  @media (max-width:$mobile) {
    padding-bottom: toRem(50);
  }

  /* .stages__container */
  &__container {
    display: grid;
    grid-template-columns: 52% 1fr;

    @media (max-width:$tablet) {
      grid-template-columns: auto;
    }
  }

  /* .stages__title */
  &__title {
    @include adaptiveValue("margin-bottom", 63, 46);
  }

  /* .stages__list */
  &__list {
    counter-reset: numbers;

    @media (min-width:$tablet) {
      max-width: toRem(690);
    }
  }

  /* .stages__item */
  &__item {
    position: relative;
    @include adaptiveValue("padding-left", 75, 50);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 12);
    }
  }

  /* .stages__box */
  &__box {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: toRem(-5);
    @include adaptiveValue("gap", 10, 6);
  }

  /* .stages__number */
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("width", 37, 23);
    @include adaptiveValue("height", 37, 23);
    @include adaptiveValue("border-radius", 12, 6);
    background-color: $whiteColor;

    &::before {
      position: absolute;
      font-size: toRem(16);
      color: $colorOrange;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.8px;
      counter-increment: numbers;
      content: counter(numbers);

      @media (max-width:$mobile) {
        font-size: toRem(14);
        letter-spacing: 0.7px;
      }
    }
  }

  /* .stages__text */
  &__text {
    @include adaptiveValue("font-size", 20, 16);
    color: $colorGrey;
    line-height: normal;
    letter-spacing: 1px;

    @media (max-width:$mobile) {
      letter-spacing: .8px;
    }
  }

  /* .stages__media */
  &__media {
    padding-top: toRem(25);
    text-align: center;

    @media (max-width:$tablet) {
      max-width: 470px;
      margin: 0 auto;
    }

    @media (max-width:$mobile) {
      padding-top: toRem(0);
    }
  }

  /* .stages__image */
  &__image {
    @media (min-width: em(1600)) {
      transform: translate(-.6%, 0px);
    }

    @media (max-width: em(1600)) {
      max-width: 100%;
    }
  }
}