.spollers {
	display: grid;
	@include adaptiveValue("gap", 23, 14);
}

// Спойлер
.spollers__item {
	border-radius: toRem(40);
	background-color: #fff;

	@include adaptiveValue("border-radius", 40, 30);
}

// Заголовок спойлера
.spollers__title {
	position: relative;
	width: 100%;
	cursor: default;
	display: flex;
	align-items: center;
	@include adaptiveValue("padding-left", 41, 22);
	@include adaptiveValue("padding-top", 29, 23);
	@include adaptiveValue("padding-bottom", 29, 26);
	padding-right: toRem(40);

	list-style: none;

	@include adaptiveValue("font-size", 20, 16);
	text-align: left;
	font-weight: 700;
	line-height: normal;

	transition: all 0.6s;

	@media (max-width:$mobile) {
		border-radius: toRem(30);
	}

	&::marker {}

	._spoller-init & {
		cursor: pointer;

		// border-radius: 0 0 toRem(40) toRem(40);

		&::before,
		&::after {
			content: "";
			position: absolute;
			@include adaptiveValue("right", 32, 20);
			top: 50%;
			background-color: #000;
			height: 2px;
			transition: all 0.5s ease 0s;
			@include adaptiveValue("width", 9, 4);
			z-index: 10;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
				background-color: #fff;
			}

			&::after {
				transform: rotate(40deg);
				background-color: #fff;
			}
		}
	}
}

// Контент спойлера
.spollers__body {
	@include adaptiveValue("padding-bottom", 36, 24);
	@include adaptiveValue("padding-left", 41, 22);
	padding-top: toRem(15);
	@include adaptiveValue("padding-right", 101, 26);

	@include adaptiveValue("font-size", 18, 14);
	color: $colorGrey;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.9px;

	span {
		font-weight: 700;
	}

	@media (max-width:$mobile) {}
}

.spollers__circle {
	position: absolute;
	@include adaptiveValue("width", 64, 29);
	@include adaptiveValue("height", 64, 29);

	right: toRem(9);
	border-radius: 50%;
	background-color: $bodyColor;

	transition: all 0.3s;

	._spoller-active & {
		background-color: $colorGrey;
	}
}