//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	// position: relative;
	// z-index: 50;

	justify-content: center;
	align-items: center;
	@include adaptiveValue("height", 80, 60);
	@include adaptiveValue("width", 260, 276);

	background: $bgColor;
	border-radius: $borderRadius;

	font-size: toRem(16);
	font-weight: 900;
	color: #fff;


	@media (any-hover: hover) {
		&:hover {
			// background-color: $bgColorSemi;
		}

		&:disabled {
			// opacity: 0.7;
			// background: grey;
			background: #D9D9D9;

			cursor: no-drop
		}

	}

	&_next {}


	&_back {
		@include adaptiveValue("height", 80, 60);
		@include adaptiveValue("width", 80, 60);
		flex-shrink: 0;
		// opacity: 0.7;
		// background: grey;
		background: #D9D9D9;

		&:hover {
			background: $bgColor;
		}

		img {
			transform: rotate(-90deg);
		}
	}

	&_catalog {
		gap: toRem(26);
		@include adaptiveValue("width", 279, 276);

		border: 1px solid #E16C00;
		background: transparent;
		color: rgba(255, 255, 255, 0.97);
		cursor: pointer;
	}

	// &--min {}

	// &--icon {
	// 	span {
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		padding-left: toRem(16);
	// 		gap: toRem(16);

	// 		&::after {
	// 			content: '';
	// 			background: url('@img/icons/phone.svg') center no-repeat;
	// 			flex: 0 0 toRem(48);
	// 			width: toRem(48);
	// 			height: toRem(48);
	// 			border-radius: 50%;
	// 			background-color: #fff;
	// 		}
	// 	}
	// }

	// &--fw {
	// 	width: 100%;
	// }
}

.hidden-content {
	display: none !important;
}

.show-more {
	width: toRem(260);
	margin: 0 auto;
	display: flex;

	background: transparent;
	border: 1px solid $colorOrange;
	font-weight: 700;
	color: $mainColor;

	.hide & {
		display: none;
	}
}

.button__up-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("width", 128, 76);
	@include adaptiveValue("height", 128, 76);

	background-color: #F0F0F0;
	border-radius: 50%;

	img {
		// @include adaptiveValue("width", 24, 14);
		@include adaptiveValue("height", 24, 14);

		z-index: 10;
	}

	&::before {
		content: "";
		position: absolute;
		@include adaptiveValue("width", 80, 48);
		@include adaptiveValue("height", 80, 48);
		background: linear-gradient(94deg, #FBBF01 -1.4%, #E24C30 95.99%);
		border-radius: 50%;
	}
}

.button__up {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	right: -0.9%;
	transform: translate(0%, -38%);

	@include adaptiveValue("gap", 132, 90);

	z-index: 20;

	@media (max-width: em(670)) {
		transform: translate(0%, 152%);
	}

	@media (max-width: em(530)) {
		transform: translate(0%, 765%);
	}

	span {
		position: relative;
		display: inline-block;
		transform: rotate(90deg);
		@include adaptiveValue("font-size", 16, 12);
		font-weight: 700;
		line-height: normal;
		color: #BCC0CC;

		&::before {
			content: "";
			position: absolute;
			background-color: #BCC0CC;
			@include adaptiveValue("width", 27, 19);
			height: 1px;
			left: -46px;
			@include adaptiveValue("left", -46, -34);
			top: 50%;
		}

		@media (max-width: em(530)) {
			display: none;
		}
	}
}