//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;

	justify-content: center;
	align-items: center;
	@include adaptiveValue("height", 80, 60);
	@include adaptiveValue("width", 260, 276);

	background: $bgColor;
	border-radius: $borderRadius;

	font-size: toRem(16);
	font-weight: 900;
	color: #fff;


	@media (any-hover: hover) {
		&:hover {
			// background-color: $bgColorSemi;
		}
	}

	&_catalog {
		gap: toRem(26);
		@include adaptiveValue("width", 279, 276);

		border: 1px solid #E16C00;
		background: transparent;
		color: rgba(255, 255, 255, 0.97);
		cursor: pointer;
	}

	&--min {}

	&--icon {
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: toRem(16);
			gap: toRem(16);

			&::after {
				content: '';
				background: url('@img/icons/phone.svg') center no-repeat;
				flex: 0 0 toRem(48);
				width: toRem(48);
				height: toRem(48);
				border-radius: 50%;
				background-color: #fff;
			}
		}
	}

	&--fw {
		width: 100%;
	}
}