//<FORM>
// Сніппет (HTML):
.form {
	&__row {}

	&__column {}

	&__line {
		position: relative;
		// padding-right: toRem(63);
		@include adaptiveValue("padding-right", 63, 25);

		.catalog-popup & {

			@media (max-width:$tablet) {
				padding-right: 0;
			}
		}


		&:not(:last-child) {
			margin-bottom: toRem(16);

		}

		&.form__line_checkbox {
			text-align: left;
		}
	}

	&__input {
		padding-right: toRem(65) !important;
	}

	&__button {}

	&__error {}

	&__label {
		position: absolute;
		top: 50%;

		transform: translate(0px, -50%);
		font-size: toRem(22);
		font-weight: 500;
		color: #F81000;
		line-height: normmal;
		// @include adaptiveValue("right", 39, 21);
		right: toRem(120);
		@include adaptiveValue("right", 120, 50);

		.catalog-popup & {

			@media (max-width:$tablet) {
				@include adaptiveValue("right", 60, 20);
			}
		}
	}
}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
@import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";