// Заголовки, загальні БЕМ блоки та інше...

.title-h1 {
	@include adaptiveValue("font-size", 70, 30);
	font-weight: 900;
	color: rgba(255, 255, 255, 0.97);
	line-height: normal;

	@media (max-width:$tablet) {
		text-align: center;
	}

	@media (max-width: em(600)) {
		text-align: left;
	}
}

.subtitle-h2 {
	position: relative;
	// padding-left: toRem(80);
	@include adaptiveValue("padding-left", 80, 46);

	@include adaptiveValue("font-size", 24, 18);
	font-weight: 400;
	letter-spacing: 1.2px;
	color: rgba(255, 255, 255, 0.97);
	line-height: normal;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: toRem(12);
		height: toRem(2);
		@include adaptiveValue("width", 54, 32);
		background: rgba(255, 255, 255, 0.97);
	}

	@media (max-width:$mobile) {
		letter-spacing: 0.9px;
	}
}

.title-h2 {
	@include adaptiveValue("font-size", 50, 30);
	font-weight: 900;
	line-height: normal;
}

.list-line {
	@include adaptiveValue("width", 16, 10);
	background-color: #BCC0CC;
	height: toRem(1);
}

// rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 

.banner {
	position: relative;
	// position: absolute;
	// width: 100%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// overflow-x: hidden;
	margin-top: -8.8%;

	&__container {
		position: relative;
	}

	&__wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("height", 333, 426);

		@include adaptiveValue("padding-right", 26, 12);
		@include adaptiveValue("padding-left", 26, 12);
		@include adaptiveValue("padding-top", 26, 12);
		@include adaptiveValue("padding-bottom", 26, 12);
		// aspect-ratio: 1400/333;
		// overflow: hidden;

		// border: 1px solid #fff;
		border-radius: toRem(50);
		z-index: 30;

		.banner_1 & {
			background: url('@img/catalog/banner-1.jpg') center / cover no-repeat;
		}

		.banner_2 & {
			background: url('@img/catalog/banner-2.jpg') center / cover no-repeat;
		}
	}

	&__title {
		color: #fff;

		@media (max-width:$tablet) {
			margin-bottom: toRem(34);
		}
	}

	/* .banner__border */
	&__border {
		// 	linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 62%, #ffffff 100%);
		// border-radius: 9px;
		// padding: 10px;
		// box-sizing: border-box;
	}

	/* .banner__body */
	&__body {
		display: flex;
		align-items: center;

		height: 100%;
		width: 100%;

		border: 1px solid #fff;
		border-radius: toRem(50);

		z-index: 20;
		// border: 2px solid transparent;
		// border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 62%, #ffffff 100%);
		// border-image-slice: 1;

		// clip-path: circle(100% at 100% 100%);
		// clip-path: url('#smile');
		// clip-path: inset(50px);
		// min-height: 100%;

		// &_img {
		// 	content: '';
		// 	position: relative;
		// 	border-radius: 50px;
		// 	background: radial-gradient(circle at 100% 100%, #000000 0, #000000 7px, transparent 7px) 0% 0%/9px 9px no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 62%, #ffffff 100%);
		// 	width: 100%;
		// 	height: 100%;

		// 	&-mask {
		// 		position: absolute;
		// 		display: block;
		// 		width: 100%;
		// 		height: 100%;
		// 		overflow: hidden;

		// 		z-index: 100;



		// 		mask-image: url("@img/catalog/ddd.svg");
		// 		mask-repeat: no-repeat;
		// 		// mask-position: center;
		// 		// mask-size: 60%;



		// 		// &::after {
		// 		// 	content: '';
		// 		// 	width: 100px;
		// 		// 	height: 100px;

		// 		// 	border-radius: 100px;
		// 		// 	background: rgba(0, 0, 0, 0);
		// 		// 	position: absolute;
		// 		// 	top: -100px;
		// 		// 	left: -40px;
		// 		// 	border: 40px solid rgba(255, 255, 255, 1);
		// 		// }

		// 	}
		// }

		@media (min-width:$tablet) {
			column-gap: toRem(126);
			padding-right: toRem(25);
		}

		@media (max-width:$tablet) {
			flex-direction: column;
			gap: toRem(50);
			justify-content: center;
		}
	}

	&__decor-img {
		position: absolute;
		max-width: 100%;

		&_1 {
			right: 2.5%;
			top: -39%;

			.banner_2 & {
				right: 2.5%;
				top: 6%;
				rotate: 192deg;
			}
		}

		&_2 {
			right: -3.3%;
			top: -25.3%;

			.banner_2 & {
				right: -5.7%;
				top: 2.9%;
				rotate: 125deg;
			}
		}
	}

	/* .banner__text-block */
	&__text-block {
		@include adaptiveValue("padding-left", 80, 29);
		padding-right: toRem(20);
	}

	/* .banner__title */
	&__title {
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		color: $whiteColor;
		@include adaptiveValue("font-size", 50, 30);
		// white-space: no-wrap;

		@media (min-width:$tablet) {
			// margin-bottom: toRem(44);
			@include adaptiveValue("margin-bottom", 44, 0);
		}

		@media (max-width:$mobile) {
			font-weight: 700;
		}
	}

	/* .banner__subtitle */
	&__subtitle {
		max-width: toRem(626);
	}

	/* .banner__button */
	&__button {
		@media (max-width:$tablet) {
			flex: 0 0 auto;
		}
	}
}