// Заголовки, загальні БЕМ блоки та інше...

.title-h1 {
	@include adaptiveValue("font-size", 70, 30);
	font-weight: 900;
	color: rgba(255, 255, 255, 0.97);
	line-height: normal;

	@media (max-width:$tablet) {
		text-align: center;
	}

	@media (max-width: em(600)) {
		text-align: left;
	}
}

.subtitle-h2 {
	position: relative;
	// padding-left: toRem(80);
	@include adaptiveValue("padding-left", 80, 46);

	@include adaptiveValue("font-size", 24, 18);
	font-weight: 400;
	letter-spacing: 1.2px;
	color: rgba(255, 255, 255, 0.97);
	line-height: normal;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: toRem(12);
		height: toRem(2);
		@include adaptiveValue("width", 54, 32);
		background: rgba(255, 255, 255, 0.97);
	}

	@media (max-width:$mobile) {
		letter-spacing: 0.9px;
	}
}

.title-h2 {
	@include adaptiveValue("font-size", 50, 30);
	font-weight: 900;
	line-height: normal;
}