//====================================================================================================

.footer {
  position: relative;
  // z-index: 10;
  // background-color: #000;
  // padding-bottom: toRem(40);
  // padding-top: toRem(40);
  @include adaptiveValue("padding-bottom", 40, 20);
  @include adaptiveValue("padding-top", 40, 20);
  height: 100%;
  // background: linear-gradient(180deg, rgba(25, 33, 46, 0.00) 0%, rgba(25, 33, 46, 0.88) 65.1%);
  // background-color: rgba(25, 33, 46, 0.88);

  @media (max-width: em(530)) {
    // background-color: $mainColor;
    // background: linear-gradient(0deg, #19212e, #ffffff);

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(25, 33, 46, 1) 27%, rgba(25, 33, 46, 1) 100%);
  }

  /* .footer__container */
  &__container {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: toRem(40);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: toRem(20);
    // @media (max-width: em(1300)) {
    //   grid-template-columns: repeat(3, 1fr);
    //   gap: toRem(15);
    // }

    // @media (max-width:$tablet) {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @media (max-width:$mobile) {
    //   // grid-template-columns: auto;


    // }

    @media (max-width: em(730)) {
      gap: toRem(30);
    }

    @media (max-width: em(530)) {
      gap: toRem(46);
    }


  }

  &__column {
    display: flex;
    align-items: center;

    &_end {

      @media (max-width: em(1300)) {
        flex-basis: 100%;
        justify-content: space-between;
      }
    }

    &_links {
      @media (max-width: em(530)) {
        flex-basis: 100%;
      }
    }
  }

  /* .footer__logo */
  &__logo {
    // @include adaptiveValue("margin-right", 60, 20);

    @media (max-width: em(740)) {
      // grid-area: 2 / 2;
    }

    // @media (max-width:$mobile){
    //   grid-area: 1 / 1;  
    // }
  }

  /* .footer__links */
  &__links {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    @include adaptiveValue("gap", 50, 0);
    // @include adaptiveValue("margin-right", 85, 20);

    @media (max-width: em(530)) {
      flex-direction: column;
      gap: toRem(26);
      justify-items: start;
      align-items: flex-start;
    }
  }

  /* .footer__link */
  &__link {
    font-size: toRem(16);
    font-weight: 500;
    color: $whiteColor;
    line-height: normal;
    white-space: nowrap;

    @media (max-width:$mobile) {
      // font-size: toRem(18);
    }
  }

  /* .footer__copyright */
  &__copyright {
    @include adaptiveValue("width", 167, 106);

    // justify-self: end;
    @media (max-width: em(1300)) {
      order: 1;
    }
  }

  /* .footer__button */
  &__button {
    @include adaptiveValue("margin-left", 39, 10);
    @include adaptiveValue("width", 244, 186);

    @media (max-width: em(1368)) {
      // justify-self: start;
      // margin-left: 0;
    }

    @media (max-width: em(1300)) {
      // grid-area: 2 /2;
      // justify-self: center;

      // grid-row-start: 2;

      // grid-column: span 3;
    }

    @media (max-width:$tablet) {
      // grid-area: 2 /1;
      // justify-self: start;
    }

    @media (max-width:$mobile) {
      // grid-area: 3 / 1;
      // justify-self: start;
    }
  }
}











//====================================================================================================