//====================================================================================================
.header {
	position: absolute;
	z-index: 600;
	width: 100%;
	top: 0;
	left: 0;

	&__wrapper {
		position: fixed;
		display: flex;
		align-items: center;

		z-index: 29;
		top: 0;
		left: 0;
		width: 100%;
		padding: toRem(5) 0;
		// min-height: var(--header-height);
		// min-height: toRem(96);
		@include adaptiveValue("height", 96, 70);
		transition: transform 0.37s ease-in-out, min-height 0.25s ease-in-out,
			background-color 0.25s ease-in-out;

		._header-scroll & {
			transform: translateY(-100%);
			// min-height: calc(var(--header-height) - toRem(30));
			background-color: rgba(0, 0, 0, 0.8);
			// padding-bottom: toRem(30);
		}

		.header.header--light._header-scroll & {
			// filter: blur(5px);
			background-color: rgba(0, 0, 0, 0.9);
		}

		._header-scroll._header-show & {
			transform: none;
		}
	}

	&__container {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;

		@media (max-width:$tablet) {
			align-items: center;
		}
	}

	&__logo {
		img {
			max-width: 100%;
			@include adaptiveValue("width", 160, 112);
			@include adaptiveValue("height", 45, 32);
		}
	}

	&__contact {
		display: flex;
		align-items: center;
		gap: toRem(16);

		font-size: toRem(24);
		color: rgba(255, 255, 255, 0.97);

		transition: all .3s ease 0s;

		svg {
			path {
				transition: all .3s ease .0s;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $colorHover;

				svg {
					path {
						fill: $colorHover;
					}
				}
			}
		}

		@media (max-width:$tablet) {
			margin-right: 16%;
		}

		@media (max-width: em(580)) {
			margin-top: toRem(32);

			color: $mainColor;


			svg {
				path {
					fill: $mainColor;
				}
			}
		}
	}
}

.menu {
	padding: 0 toRem(10); // отступы безопасности

	// .menu__body

	&__body {
		@media (max-width:$tablet) {
			position: fixed;
			width: 100%;
			// height: 100%;
			top: 0;
			left: 100%;
			// background-color: $bgColorSemi;
			padding: toRem(128) toRem(15) toRem(25) toRem(28);
			overflow: auto;
			// display: flex;
			// row-gap: toRem(40);
			// flex-direction: column;
			// align-items: start;
			transition: left 0.5s;
			background-color: $bodyColor;
			box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.52);

			.menu-open & {
				left: 0;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		// flex-wrap: wrap;
		// row-gap: toRem(10);
		@include adaptiveValue("column-gap", 82, 15, 0, $containerWidth, 992);
		// @include adaptiveValue("column-gap", 82, 15, 0);

		@media (max-width:$tablet) {
			padding-bottom: toRem(101);


			flex: 1 1 auto;
			font-size: toRem(0);
			// align-items: end;
			flex-direction: column;
			row-gap: toRem(36);
		}

		@media (max-width: em(580)) {
			border-bottom: 1px solid #BCC0CC;
		}
	}

	// .menu__link

	&__link {
		font-weight: 500;
		font-size: toRem(16);
		color: rgba(255, 255, 255, 0.97);
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $colorHover;
			}
		}

		@media (max-width:$tablet) {

			font-size: toRem(20);
			color: $mainColor;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(26);
		height: toRem(26);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(3);
			background-color: rgba(255, 255, 255, 0.97);
			border-radius: toRem(2);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				background-color: $mainColor;
			}

			&::before {
				top: calc(46% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(48% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}