// Подключение общих CSS-переменных
:root {
  //* Переменные
  --header-height: 9.6rem;

  //* Цвета
  --main-color: #19212E;
  --grey-color: #5D6376;
  --orange-color: #E16C00; 
  --hover-color: #FDA350;
  --body-color: #F0F0F0;
  --border-radius: 4rem;
  --btn-background: linear-gradient(94deg, #FBBF01 -1.4%, #E24C30 95.99%);


  //== 992px ==//
  @media (max-width:$tablet) {
    --header-height: 6.6rem;
  }

  //== 576px ==//
  // @media (max-width: $mb-m) {
  //   --header-height: 3.5625rem;
  // }
}